body {
  background-color: #80bfff;
  font-family: 'Roboto',sans-serif;
  margin-left: 50px
}
h1 {
  font-family: 'Noto Serif', serif;
}
h2 {
  font-family: 'Noto Serif', serif;
}
p {
  width: 550px;
}
