* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.head {
  height: 400px;
  width: 400px;
  background-color: #333333;
  border-radius: 50%;
  margin: 150px auto;
  position: relative;
}
.mouth {
  height:150px;
  width:300px;
  border-radius: 0 0 150px 150px;
  background-color: black;
  margin: 200px 50px;
  position: absolute;
}
.l-eye1 {
  height:80px;
  width:80px;
  border-radius: 50%;
  background-color: gold;
  margin: 60px 90px;
  position: absolute;
}
.l-eye2 {
  height:40px;
  width:40px;
  background-color: gold;
  margin: 60px 90px;
  position: absolute;
}
.l-eye3 {
  height:40px;
  width:40px;
  background-color: gold;
  margin: 100px 130px;
  position: absolute;
}
.l-pupil {
  height:40px;
  width:40px;
  background-color: #333333;
  border-radius: 50%;
  margin: 85px 140px;
  position: absolute;
}
.r-eye1 {
  height:80px;
  width:80px;
  border-radius: 50%;
  background-color: gold;
  margin: 60px 230px;
  position: absolute;
}
.r-eye2 {
  height:40px;
  width:40px;
  background-color: gold;
  margin: 60px 270px;
  position: absolute;
}
.r-eye3 {
  height:40px;
  width:40px;
  background-color: gold;
  margin: 100px 230px;
  position: absolute;
}
.r-pupil {
  height:40px;
  width:40px;
  background-color: #333333;
  border-radius: 50%;
  margin: 85px 220px;
  position: absolute;
}
.l-tooth {
  width:40px;
  height:0;
  border-top:40px solid white;
  border-left:20px solid transparent;
  border-right:20px solid transparent;
  margin: 200px 120px;
  position: absolute;
}
.r-tooth {
  width:40px;
  height:0;
  border-top:40px solid white;
  border-left:20px solid transparent;
  border-right:20px solid transparent;
  margin: 200px 240px;
  position: absolute;
}
.l-ear1 {
  width:0;
  height:0;
  border-right:200px solid transparent;
  border-top:200px solid transparent;
  border-left:50px solid #333333;
  border-bottom:25px solid #333333;
  position: absolute;
  border-radius: 100%;
  margin: -120px 50px;
  transform: rotate(-30deg);
  z-index: -5
;
}
.l-ear2 {
  width:0;
  height:0;
  border-right:50px solid #333333;
  border-top:200px solid transparent;
  border-left:200px solid transparent;
  border-bottom:50px solid #333333;
  position: absolute;
  border-radius: 100%;
  margin: -202px -200px;
  transform: rotate(0deg);
  z-index: -5;
}
.r-ear1 {
  width:0;
  height:0;
  border-right:200px solid transparent;
  border-top:200px solid transparent;
  border-left:50px solid #333333;
  border-bottom:25px solid #333333;
  position: absolute;
  border-radius: 100%;
  margin: -45px 230px;
  transform: rotate(30deg);
  z-index: -5;
}
.r-ear2 {
  width:0;
  height:0;
  border-right:50px solid #333333;
  border-top:200px solid transparent;
  border-left:200px solid transparent;
  border-bottom:50px solid #333333;
  position: absolute;
  border-radius: 100%;
  margin: -202px -200px;
  z-index: -5;
}
.nose1 {
  height:15px;
  width:30px;
  border-radius: 40px 40px 0 0;
  background:white;
  margin: 130px 185px;
  position: absolute;
}
.nose2 {
  width:25px;
  height:25px;
  background:white;
  margin:2px 0 0 2.5px;
  transform: rotate(-45deg);
  position: absolute;
  border-radius: 30%;
}
.l-whisker1 {
  width:125px;
  height:2px;
  background:white;
  position: absolute;
  margin: 170px 40px;
  border-radius: 50%;
}
.l-whisker2 {
  width:125px;
  height:2px;
  background:white;
  position: absolute;
  margin: 150px 40px;
  border-radius: 50%;
  transform: rotate(10deg);
}
.l-whisker3 {
  width:125px;
  height:2px;
  background:white;
  position: absolute;
  margin: 190px 40px;
  border-radius: 50%;
  transform: rotate(-10deg);
}
.r-whisker1 {
  width:125px;
  height:2px;
  background:white;
  position: absolute;
  margin: 170px 235px;
  border-radius: 50%;
}
.r-whisker2 {
  width:125px;
  height:2px;
  background:white;
  position: absolute;
  margin: 150px 235px;
  border-radius: 50%;
  transform: rotate(-10deg);
}
.r-whisker3 {
  width:125px;
  height:2px;
  background:white;
  position: absolute;
  margin: 190px 235px;
  border-radius: 50%;
  transform: rotate(10deg);
}
