body{
  margin:0;
  }
ul {
  list-style-type: none;
}
li {
    float: right;
    display: inline;
}
a {
  text-decoration: none;
}
a:link {
  color: black;
}

a:visited {
  color: black;
}
main {
  width: 75vw;
  display: flow-root;
}
img {
  width: 100%;
  height: auto;
}
