body{
  margin:0;
  font-family: 'Playfair Display', serif;
  }
header{
  background-color: white;
  display: flow-root;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.pines {
  float:left;
}
nav {
  float: right;
  margin-top: 20px;
}
ul {
  list-style-type: none;
}
li {
    display: inline;
    margin: 0 20px;
}
a {
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
main {
  width: 100vw;
  display: flow-root;
}
img {
  width: 100%;
  height: auto;
}
.col {
  width: 40%;
  float: left;
  margin: 0 25px;
  text-align: center;
}
.title {
  text-align: center;
}
.footer {
  text-align: center;
}
@media screen and (max-width:750px) {
  .col {
    width: 75%;
    margin-bottom: 50px;
  }
  nav {
    display:none
  }
